main {
  position: relative;
  width: 1012px;
  height: 560px;
  background-color: #7258f8;
}
.title {
  position: absolute;
  width: 786px;
  height: 79px;
  left: 110px;
  top: -36px;
  line-height: 87px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.025;

  text-align: center;
  background: linear-gradient(90deg, #ffe23d 14.46%, #00ffd2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.input {
  position: absolute;
  width: 633px;
  height: 69px;
  left: 171px;
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: larger;
  top: 139px;
  color: white;
  background: #4c38af;
  border-radius: 35px;
}
.btn {
  position: absolute;
  width: 85.56px;
  height: 37px;
  left: 810px;
  cursor: pointer;
  top: 156px;
  border: none;
  font-size: larger;
  color: white;
  background-color: #2cbea4;
  border-radius: 57.8125px;
}
.top-img {
  position: absolute;
  width: 77px;
  height: 88.15px;
  left: 33px;
  top: 24px;
}
.g33-yellow {
  position: absolute;
  width: 89px;
  height: 89px;
  left: 21px;
  top: 146px;
}
.arrow {
  position: absolute;
  width: 100px;
  height: 120px;
  left: 900px;
  top: 112px;
}
.shape {
  position: absolute;
  width: 254.26px;
  height: 220.51px;
  left: -50px;
  top: 340px;
}
.code-board {
  position: absolute;
  width: 670px;
  height: 336px;
  left: 171px;
  top: 214px;
}
.last {
  position: absolute;
  width: 185px;
  height: 185px;
  left: 850px;
  top: 307px;
}
.frame {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 701px;
  top: 241px;
}
.frame-2 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 223px;
  top: 288px;
}
